
<h1>Esse dog é <%= @dog.description %> </h1>
<p> O temperamento é <%= @dog.temper %> <p>
<p> A origem é <%= @dog.origin %> <p>
<p> A popularidade é <%= @dog.popularity %> <p>

<%= link_to "Lista", dogs_path %>
