
<div class="banner" style="background-image: url(<%=@foto%>);">
  <div class="disclaimer">

  <%= link_to root_path do %>
   <%= image_tag "dog.jpg", class: "img" %>
  <% end %>

  </div>
  <div class="container">
    <%= form_tag root_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a breed"
      %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <div class="card">
    <table>
      <thead class="title">
        <td>Breed</td>
        <td>Life Span</td>
        <td>Temperament</td>
        <td>Group</td>
      </thead>

      <tbody class="breed">
          <%  if params[:query].present? %>
            <tr>
              <td><h1><%= @racas["name"] %></h1></td>
              <td><%= @racas["life_span"] %></td>
              <td><%= @racas["temperament"] %></td>
              <td><%= @racas["breed_group"] %></td>
            </tr>
          <% else %>
            <%= paginate @paginado, left: 1, right: 3 %>
            <%  @paginado.each do |name| %>
              <tr>
                <td><%= link_to name["name"], show_path(id: name["id"])%></td>
                <td><%= name["life_span"] %></td>
                <td><%= name["temperament"] %></td>
                <td><%= name["breed_group"] %></td>
              </tr>
            <% end %>
          <% end %>
      </tbody>
    </table>
  </div>
</div>
